<li class="row">
	<div class="col-6">
		{{id}}: {{burger_name}}
	</div>
	<div class="col-6">
		<button class="change-devoured" data-id="{{id}}" data-newdevour="{{devoured}}">
			Devour IT!
		</button>
	</div>
</li>
